/* Series.css */

.series-page {
    color: #086AE9;
    display: grid;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
    
   
}
.series-back {
    position: relative;
    width: 1920px;
    height: 400px;
    background-color:rgb(3, 3, 3);
}

.series-back img {
    width: 350px;
    height: 500px;
    
}

.series-poster {
    position: absolute;
    width: 350px;
    left: 100px;
    top: 80px;
}
.clique{
    color: #086AE9;
    text-decoration: none;
}
.series-title {
    position: absolute;
    font-size: 58px;
    left: 500px;
    top: 270px;
    color: white;
}
.series-page h3 {
    text-align: center;
}
.series-page p {
    text-align: start;
}
.series-page svg {
    font-size: 1.5rem;
    color: rgb(8, 106, 233);
}
.series-page .estrela{
    text-align: center;
}
.series-page .series-card {
    text-align: center;
}

.series-page .series-card img,
.series-page .series-card h2,
.series-page .series-card p {
    margin-bottom: 1rem;
}

.series-page .series-card h2 {
    font-size: 2rem;
}

.series-page .series-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}
.comentario {
    width: 1500px;
    height: 135px;
    text-align:start;
    color: #212321;
    font-size: 17px;
    position: flex;
}

.tagline {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.info {
    margin-bottom: 1.5rem;
}

.info h3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.description p {
    line-height: 1.4rem;
}